 @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

      
        body, html {
        height: 100%;
        width: 100%;
        overflow: auto;
    }

       p {
        
        white-space: nowrap;
        overflow: hidden;    
        font-family: 'Source Code Pro', monospace;  
        
        color: rgba(255,255,255,.70);
        margin-top: 10%;
        top: 0;
        left: 0;
}

/* Animation */
p {
  animation: animated-text 5s steps(100,end) 1s 1 normal both,
             animated-cursor 600ms steps(100,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0%;}
  to{width: 100%;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: transparent;}
  to{border-right-color: transparent;}
}
            

        .book {
  transform-style: preserve-3d;
  position: relative;
  height: 220px;
  cursor: pointer;
  backface-visibility: visible;
}

.front, .back {
  transform-style: preserve-3d;
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  border-right: 2px solid black;
  padding: 2px;
}

.front, .back {
  background: #ffb347;
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 { 
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page6 {
  background: #fdfdfd;
}

.book:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}


    
a{
    text-decoration: none;
    color: white;
}

.heading{
    color:#fff; 
    width: 100%; 
    height: 25%; 
    background-color:#e74c3c;  
    padding:10px 20px; 
    margin-top:40%; 
    border-radius:2px; 
    vertical-align: center;
    text-align: center;
}


nav {
  padding-top: 0%;
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 2px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  background-color: rgba(68, 72, 77,.7);
}

@import url("https://fonts.googleapis.com/css?family=Sail");
nav button {
  line-height: 50px;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  width: 16%;
  background-color: transparent;
  font-family: Sail;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
button:nth-child(1) {
  width: 16%;
}
button:nth-child(3) {
  width: 16%;
}
button:nth-child(5) {
  width: 16%;
}
button:nth-child(7) {
  width: 16%;
}
button:nth-child(8) {
  width: 16%;
}
button:nth-child(9) {
  width: 16%;
}

nav .start-Employee, button:nth-child(1):hover~.animation {
  width: 16%;
  left: 0;
  background-color: #ffb347;
  border:2px solid #ffffff;
}
nav .start-Customer, button:nth-child(3):hover~.animation {
  width: 16%;
  left: 16%;
  background-color: #ffb347;
  border:2px solid #ffffff;
}
nav .start-Product, button:nth-child(5):hover~.animation {
  width: 16%;
  left: 33%;
  background-color: #ffb347;
  border:2px solid #ffffff;
}
nav .start-Call, button:nth-child(7):hover~.animation {
  width: 16%;
  left: 49%;
  background-color: #ffb347;
  border:2px solid #ffffff;
}
nav .start-Assign, button:nth-child(8):hover~.animation {
  width: 16%;
  left: 65%;
  background-color: #ffb347;
  border:2px solid #ffffff;
}

nav .start-Report, button:nth-child(9):hover~.animation {
  width: 16%;
  left: 83.4%;
  background-color: #ffb347;
  border:2px solid #ffffff;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1350px;
}


h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}

button{
  border: 0px;
  background-color: #44484d;
  font-size: 20px;
}

.dropdown-content {
  margin-left: 2%;
  display: none;
  position: absolute;
  background-color: rgba(68, 72, 77,.9);
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 20px;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  font-family: Sail;
  color: white;
}

.dropdown-content a:hover {background-color: rgba(0,51,102,.6);}


.show {display: block;}

.dropdown-content2 {
  margin-left: 18%;
  display: none;
  position: absolute;
  background-color: rgba(68, 72, 77,.9);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 20px;
}

.dropdown-content2 a {
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  font-family: Sail;
  color: white;
}

.dropdown-content2 a:hover {background-color: rgba(0,51,102,.6);}

.show2 {display: block;}

.dropdown-content3 {
  margin-left: 34%;
  display: none;
  position: absolute;
  background-color: rgba(68, 72, 77,.9);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 20px;
}

.dropdown-content3 a {
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  font-family: Sail;
  color: white;
}

.dropdown-content3 a:hover {background-color: rgba(0,51,102,.6);}

.show3 {display: block;}

.dropdown-content4 {
  margin-left: 84%;
  display: none;
  position: absolute;
  background-color: rgba(68, 72, 77,.9);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 20px;
}

.dropdown-content4 a {
  font-family: Sail;
  color: white;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
}

.dropdown-content4 a:hover {background-color: rgba(0,51,102,.6);}

.show4 {display: block;}